.contact-wrapper {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}

.contact-info {
  width: 40%;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}
