/* src/styles.css */

/* ========= THEME COLORS ========= */
:root {
  --bg-color: #F2F5FA;
  --card-color: #a6bdee;
  --primary: #6C9BCF;
  --text-dark: #333;
  --text-light: #555;
  --shadow: rgba(0,0,0,0.1);
}

/* ========= BASE ========= */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-dark);
}

.container {
  width: 85%;
  margin: auto;
  padding: 20px 0;
}

/* ========= NAVBAR ========= */
nav {
  background: var(--card-color);
  box-shadow: 0 2px 10px var(--shadow);
  padding: 15px 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-light);
  font-weight: bold;
}

nav a.active {
  color: var(--primary);
}

footer {
  text-align: center;
  padding: 20px;
  color: var(--text-light);
}

/* Buttons global */
.btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
